<p>Name: {{ creature.name }}</p>

<p>Age: {{#if creature.age}} {{ creature.age }} {{else}} Age-less {{/if}}</p>

<p>Is Ancient: {{#if creature.isAncient}} Yes {{else}} No {{/if}}</p>

<p>Ability: {{ creature.magicalAbility }}</p>